[Desktop Entry]
Name=TATEditor
Type=Application
Terminal=false
Comment[ja]=縦書きも横書きもできるフリーのテキストエディタ
Comment=Text editor with vertical/horizontal writing
GenericName[ja]=テキストエディタ
GenericName=Text Editor
Categories=Utility;TextEditor;
Exec=sh -c "~/.local/share/tateditor/tateditor"
MimeType=text/plain;
